@tailwind components;


.filament-grapesjs {
    border: 3px solid #444;



}
.panel__top {
    padding: 0;
    width: 100%;
    display: flex;
    position: initial;
    justify-content: center;
    justify-content: space-between;
}
.panel__basic-actions {
    position: initial;
}
